<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <div class="formmain" >
        <form  [formGroup]="productForm" class="form" >
        <b>Update your record!!</b><br><br>
        <label for="name" >Enter your Name:</label>
        <input type="text"  class="name" name="name" formControlName="Name" ><br><br>
        <label for="tickets">Choose number of tickets:</label>
        <select id="tickets" name="tickets" formControlName="nof"  >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br><br>
        <label for="show">Choose the show:</label>
        <select id="show" name="show" formControlName="show" >
            <option value="morning">Morning Show</option>
            <option value="First">First Show</option>
            <option value="Second">Second Show</option>
            </select>
            <br><br>
        <input type="button" value="update" class="button-3" role="button" (click)="updatedata()">
    </form> </div>  

</body>
</html>
